* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', Sans;
    /* font-size: 18px; */
    text-decoration: none;
}

body {
    background-color: hsl(216, 55%, 11%);
}

main {
    margin: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(210, 70%, 13%);
    margin: 0 auto;
    margin-top: 12vh;
    width:80%;
    max-width:350px;
    padding: 25px;
    border-radius: 24px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.equilibrium-image img {
    height: auto;
    width: 100%;
    border-radius: 3%;
    color: none;
}

.main h3 {
    font-weight: 900;
    margin: 15px auto;
    font-size: 1.7rem;
}

.main h3 a {
    color: aliceblue;
    transition-duration: 400ms;
    transition-property: font-size, color;
    transition-delay: 200ms;
}

.main p {
    color: hsl(210, 40%, 70%);
}

.main-footer {
    display: flex;
    justify-content: space-between;
    height: 30px;
    align-items: center;
    margin: 15px auto;
    padding-bottom: 15px;
    border-bottom: 1px solid hsl(210, 40%, 70%);
}

.price {
    display: flex;
}

.price p{
    font-weight: 800;
    color: aqua;
}

.date {
    display: flex;
}

.card-footer {
    display: flex;
    justify-content: flex-start;
    margin: 15px auto;
    align-items: center;
}

.card-footer img {
    width: 40px;
    height: auto;
    margin-right: 20px;
    border: 1px solid white;
    border-radius: 50%;
}


.card-footer a {
    font-weight: 500;
    color: aliceblue;
    transition-duration: 400ms;
    transition-property: font-size, color;
    transition-delay: 200ms;
}

svg {
    padding: 3px;;
}

/* Hover */

.main h3 a:hover {
    color: aqua;
    font-size: 1.8rem;
}

.card-footer a:hover {
    color: aqua;
    font-size: 1.1rem;
}



/* SHINE (not mine) */

.equilibrium-image figure {
	position: relative;
    overflow: hidden;
    border-radius: 5px;
}
.equilibrium-image figure::before {
	position: absolute;
	top: 0;
	left: -75%;
	z-index: 1;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
    border-radius: 10%;
}
.equilibrium-image figure:hover::before {
	-webkit-animation: shine .75s;
	animation: shine .75s;
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}

