* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', Sans;
    /* font-size: 18px; */
    text-decoration: none;
}

body {
    background-color: hsl(216, 55%, 11%);
}

main {
    margin: 1rem;
}

.equilibrium-image img {
    height: auto;
    width: 100%;
    border-radius: 3%;
    color: none;
}

.main h3 {
    font-weight: 900;
    margin: 15px auto;
    font-size: 1.7rem;
}

.main h3 a {
    color: aliceblue;
    transition-duration: 400ms;
    transition-property: font-size, color;
}

.main p {
    color: hsl(210, 40%, 70%);
}

.main-footer {
    display: flex;
    justify-content: space-between;
    height: 30px;
    align-items: center;
    margin: 15px auto;
    padding-bottom: 15px;
    border-bottom: 1px solid hsl(210, 40%, 70%);
}

.price {
    display: flex;
}

.price p{
    font-weight: 800;
    color: aqua;
}

.date {
    display: flex;
}

.card-footer {
    display: flex;
    justify-content: flex-start;
    margin: 15px auto;
    align-items: center;
}

.card-footer img {
    width: 40px;
    height: auto;
    margin-right: 20px;
    border: 1px solid white;
    border-radius: 50%;
}


.card-footer a {
    font-weight: 500;
    color: aliceblue;
    transition-duration: 400ms;
    transition-property: font-size, color;
}

svg {
    padding: 3px;;
}

/* Hover */

.main h3 a:hover {
    color: aqua;
    /* font-size: 1.8rem */;
}

.card-footer a:hover {
    color: aqua;
    /* font-size: 1.1rem */;
}



/* SHINE (not mine) */

.equilibrium-image figure {
	position: relative;
    overflow: hidden;
    border-radius: 5px;
}
.equilibrium-image figure::before {
	position: absolute;
	top: 0;
	left: -75%;
	z-index: 1;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
    border-radius: 10%;
}
.equilibrium-image figure:hover::before {
	-webkit-animation: shine .75s;
	animation: shine .75s;
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}


@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }
  
  :root {
    --card-height: 65vh;
    --card-width: calc(var(--card-height) / 1.5);
  }
  
  
  body {
    min-height: 100vh;
    background: #212534;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-sizing: border-box;
  }
  
  
  .card {
    margin: 0 auto;
    margin-top: 12vh;
    width:80%;
    max-width:350px;
    padding: 25px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #191c29;
    width: var(--card-width);
    height: var(--card-height);
    position: relative;
    color: rgb(88 199 250 / 0%);
    cursor: pointer;
    font-family: cursive;
  }
  
  .card:hover {
    color: rgb(88 199 250 / 100%);
    transition: color 1s;
  }
  .card:hover:before, .card:hover:after {
    animation: none;
    opacity: 0;
  }
  
  
  .card::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 24px;
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #3c67e3 43%, #4e00c2);
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 2.5s linear infinite;
  }
  
  .card::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #3c67e3 43%, #4e00c2);
      opacity: 1;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
  }
  
  @keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
  }
  