* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', Sans;
    /* font-size: 18px; */
    color: aliceblue;
    text-decoration: none;
}

body {
    background-color: hsl(216, 55%, 11%);
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(210, 70%, 13%);
    margin: 0 auto;
    margin-top: 12vh;
    width: 350px;
    overflow: hidden;
    padding: 25px;
    border-radius: 24px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.equilibrium-image img {
    height: auto;
    width: 350px;
    border-radius: 16px;
}

.main h3 {
    font-weight: 900;
    margin: 15px auto;
    font-size: 1.7rem;
}

.main p {
    color: hsl(210, 40%, 70%);
}

.main-footer {
    display: flex;
    justify-content: space-between;
    height: 30px;
    align-items: center;
    margin: 15px auto;
    padding-bottom: 15px;
    border-bottom: 1px solid hsl(210, 40%, 70%);
}

.price {
    display: flex;
}

.price p{
    font-weight: 800;
    color: aqua;
}

.date {
    display: flex;
}

.card-footer {
    display: flex;
    justify-content: flex-start;
    margin: 15px auto;
    align-items: center;
}

.card-footer img {
    width: 40px;
    height: auto;
    margin-right: 20px;
    border: 1px solid white;
    border-radius: 50%;
}


.card-footer a {
    font-weight: 500;
}

svg {
    padding: 3px;;
}

/* Hover */

.equilibrium-image img:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.main h3:hover{
    color: aqua;
}